<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/leaflet.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/leaflet.js"></script>
  </head>
  <body>
    <form action="/mosaic" method="POST" enctype="multipart/form-data">
      Select an image to upload:
      <input type="file" name="picture"> 
      <input type="submit" value="Upload Image">
    </form>

    <div id='map'></div>

    <script type="text/javascript">
      var map = L.map('map', {
        center: [0, 0],
        zoom: 1,
        minZoom: 1,
        zoomDelta: 0.5
      });

      L.tileLayer('/mosaic/{x}/{y}/{z}', {
		    maxZoom: 9,
        tileSize: 512
	    }).addTo(map);
      
    </script>
  </body>
</html>
